.message {
    display: flex;
    align-items: flex-end;
    margin: 25px 0 0 20px;
}

.message img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.block {
    position: relative;
    width: 300px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px 10px 10px 0;
    background: #4d5156;
    color: #bbfbbc;
}

.block::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 23px;
    height: 23px;
    background: radial-gradient(50px at top left, transparent 49%, #4d5156 51%) no-repeat right bottom;
}

.name {
    margin-top: 0;
    font-size: 17px;
    font-weight: 400;
}

p {
    margin-top: 7px;
}

.time {
    position: absolute;
    right: 8px;
    bottom: 3px;
}